input {
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    margin: 0 auto;
    width: 100px;
}

.select-group {
    display: inline;
    margin: 1em auto;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1em;
}

button {
    display: block;
    background-color: #99BD43;
    margin: 2em auto;
    padding: 1em;
    font-size: 14px;
    border-radius: 5px;
}